<a href="https://colab.research.google.com/github/Sutriadik/Pejuang-Data/blob/main/M1P2V2_Variabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variabel & Tipe data

Variabel


---

Variables : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat- Syarat penaman variable

1 Karakter- karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore

2.Karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka

3.Nama sebuah variable tidak bisa menggunakan keyword atau reserved words dari bahasa phyton seperti for,if, dan lainnya.

4.karakter pada nama variable bersifat sensitif(case-sensitif)

In [ ]:
# membuat variable
kalimat = 'ini adalah variable'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j +4

In [ ]:
#menampilkan variable
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)

ini adalah variable
4
2.5
True

Latihan 1

In [ ]:
kalimat1 = 'Nama Saya'
kalimat2 = 'Sutriadi Kurniawan'
a = 100
b = 12.5
Nilai_kebenaran = True
statement ='hari ini hujan'
c = 2j + 5

In [ ]:
 print(kalimat1)
 print(kalimat2)
 print('-'*20)

 print(a)
 print(b)
 print(c)
 print('-'*20)

 p= a+b;
 print(p)
 print(Nilai_kebenaran)

Nama Saya
Sutriadi Kurniawan
--------------------
100
12.5
(5+2j)
--------------------
112.5
True

Tipe Data

5 tipe data yaitu
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
#menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))
print(type(statement))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>

Latihan 2

In [ ]:
print(type(kalimat1))
print(type(a))
print(type(b))
print(type(Nilai_kebenaran))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Syntax Konversi tipe data
1. Integer = int()
2. Float   = float()
3. String  = str()
4. Boolean = bool()
5. Complex = Complex()

In [ ]:
#konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
#konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
#konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
#konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

Latihan 3

In [ ]:
#konversi tipe data
kalimat1 = 'Nama Saya'
kalimat2 = 'Sutriadi Kurniawan'
a = 100
b = 12.5
Nilai_kebenaran = True
statement ='hari ini hujan'
c = 2j + 5

#konversi tipe data integer
print('Konversi tipe data integer')
print(int(a))
print(int(b))
print('-'*20)
print('-'*20)

#Konversi tipe data string
print('konversi tipe data string')
print(str(b))
print(str(kalimat1))
print(str(statement))
print('-'*20)
print('-'*20)

#konversi tipe data float
print('konversi tipe data float')
print(float(a))
print(float(b))
print(float(Nilai_kebenaran))
print('-'*20)
print('-'*20)

#konversi tipe data bool
print('konversi tipe data bool')
print(bool(Nilai_kebenaran))
print(bool(b))
print('-'*20)
print('-'*20)

#konversi tipe data kompleks
print('konversi tipe data complex')
print(complex(a))
print(complex(b))
print(complex(c))

Konversi tipe data integer
100
12
--------------------
--------------------
konversi tipe data string
12.5
Nama Saya
hari ini hujan
--------------------
--------------------
konversi tipe data float
100.0
12.5
1.0
--------------------
--------------------
konversi tipe data bool
True
True
--------------------
--------------------
konversi tipe data complex
(100+0j)
(12.5+0j)
(5+2j)