<a href="https://colab.research.google.com/github/Sutriadik/Pejuang-Data_Science/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
[1] # Contoh tuple
T1 = (1, "dua", True, 1+2j)
print ("ini adalah Tuple", T1)

ini adalah Tuple (1, 'dua', True, (1+2j))

In [ ]:
[2] #Menampilkan tipe struktur data
print(type(T1))
type(T1)

<class 'tuple'>

tuple

Latihan 1

In [ ]:
#Tuple
S1 = (5, "empat", True, 3+4j)
S2 = (1, 3, 5, 7, 9)
print ("ini adalah Tuple", S1)
print ("ini adalah Tuple", S2)

print('-'*20)
print('-'*20)

#Menampilkan tipe struktur data
print("tipe Data S1",type(S1))
print("tipe Data S2",type(S1))

ini adalah Tuple (5, 'empat', True, (3+4j))
ini adalah Tuple (1, 3, 5, 7, 9)
--------------------
--------------------
tipe Data S1 <class 'tuple'>
tipe Data S2 <class 'tuple'>

Sifat-Sifat Tuple

In [ ]:
#Terurut/Ordered
T1[0:4]

(1, 'dua', True, (1+2j))

In [ ]:
#Tidak bisa diganti/immutable
#T1[2] = "manusia"

In [ ]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple T1: ", T1[1])

elemen kedua dari tuple T1:  dua

In [ ]:
#Dapat diizinkan Duplikasi
T2 = (3,2,4,True,2.4)
T2

(3, 2, 4, True, 2.4)

Menggabungkan Tuple

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2, 4, True, 2.4)

Latihan 2

In [ ]:
S1 = (5,"empat",True,3+4j)
S2 = (1, 3, 5, 7, 9)

#Terurut/Ordered
print("memamnggil list dengan indeks" ,S1[1:4])
print("memamnggil list dengan indeks" ,S2[0:2])
print('-'*20)

#Mengindeks/slicing
print("elemen kedua dari tuple S1: ", S1[1])
print("elemen pertama dari tuple S2: ", S2[0])
print('-'*20)

#Menggabungkan 2 buah Tuple
S1 = (5, "empat", True, 3+4j)
S2 = (1, 3, 5, 7, 9)
A = (0,1,2,3,4,5)
B = (6,7,8,9,10)
print("penggabungan 2 buah tuple :", S1+S2)
print("penggabungan 2 buah tuple :", A+B)

memamnggil list dengan indeks ('empat', True, (3+4j))
memamnggil list dengan indeks (1, 3)
--------------------
elemen kedua dari tuple S1:  empat
elemen pertama dari tuple S2:  1
--------------------
penggabungan 2 buah tuple : (5, 'empat', True, (3+4j), 1, 3, 5, 7, 9)
penggabungan 2 buah tuple : (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)