<a href="https://colab.research.google.com/github/Sutriadik/Pejuang-Data_Science/blob/main/M2P2V1_Struktur_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dam elemennya dipisahkan dengan koma. Pada set kita dapat melakukan union dan intersection,sekaligus otomatis melakukan penghapusan data duplikat

In [1]:
#Contoh Set
S1 = {1, "dua", True, 2+3j}

print(type(S1))

<class 'set'>

In [2]:
#Sifat-Sifat Set

#Tidak terutut/Unordered
print("memanggil set S1 dengan indeks urutan :" ,S1[0:3])

TypeError: ignored

In [3]:
#tidak bisa diganti/Immutable
S1[1] = 2
print("memanggil S1 setelah diganti:", S1)

TypeError: ignored

In [4]:
S1 = {1, "dua", True, 2+3j}

#Dapat di Indeks/slicing
print("Slicing Set S1: ",S1[3])

TypeError: ignored

In [10]:
# Dapat diijinkan DUplikasi
S1 = {1, "dua", True,True, 2+3j, 2+3j}  #Boolean tidak terbaca atau dianggap tidak ada
print("Duplikasi pada set S1:", S1)

Duplikasi pada set S1: {1, 'dua', (2+3j)}

## Latihan

In [26]:
#Buatlah struktur data set mu sendiri

A ={1, 2, 3, 4 ,5 }
B ={"Bandung", "Jakarta", "Bogor", "Tangerang"}

print("tipe Data A",type(A))
print("tipe Data B",type(B))
print('-'*20)

#Dapat diijinkan duplikasi
A = {1, 2, 3, 4 ,5, 7,8,9,10}
print("Duplikasi pada set A:", A)

B ={"Bandung", "Bandung", "Jakarta", "Bogor", "Tangerang","Bekasi","Yogyakarta", "Cirebon"}
print("Duplikasi pada set B:", B)

tipe Data A <class 'set'>
tipe Data B <class 'set'>
--------------------
Duplikasi pada set A: {1, 2, 3, 4, 5, 7, 8, 9, 10}
Duplikasi pada set B: {'Bekasi', 'Yogyakarta', 'Jakarta', 'Bogor', 'Cirebon', 'Bandung', 'Tangerang'}