## Dictionary

Dictionary pada Phyton adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan.Dictionary dapat digunakan untuk menyimpan data kecil hingga besar.Untuk dapat mengakses datanya,kita harus mengetahui kuncinya (key).Pada Phyton,dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

*   Setiap elemen pair key-value dipisahkan dengan koma(,)
*   Key dan Value dipisahkan dengan titik dua (:)
*   Key dan Value dapat berupa tipe variabel/objek apapun

In [2]:
#Contoh Dictionary
D1 ={1:'value', 'Key':2}
print(D1)

{1: 'value', 'Key': 2}

## Latihan 1

In [35]:
#Buatlah Struktur data dictionary kalian sendiri
X = {1 :2, 2 :3, 3 :4, 4 :5 }
Y = {1: 'Bandung' , 2 : 'Jakarta' , 3 : 'Semarang' , 4: 'Banten'}
Z = {'a' : 20, 'b' : 25, 'c':30 }
print(X)
print(Y)
print(Z)

{1: 2, 2: 3, 3: 4, 4: 5}
{1: 'Bandung', 2: 'Jakarta', 3: 'Semarang', 4: 'Banten'}
{'a': 20, 'b': 25, 'c': 30}

In [27]:
#memanggil elemen Berdasarkan key
D1 ={1:'value', 'Key':2}
print("D1 ['Key'] = ", D1['Key']);
print("D1 [1] = ", D1[1])

D1 ['Key'] =  2
D1 [1] =  value

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key)2:

In [18]:
#mencoba error
print("D1[2]= ", D1[2])

KeyError: ignored

# Latihan 2

In [40]:
X = {1 :2, 2 :3, 3 :4, 4 :5 }
Y = {1: 'Bandung' , 2 : 'Jakarta' , 3 : 'Semarang' , 4: 'Banten'}
Z = {'a' : 20, 'b' : 25, 'c':30 }

print("X [1] = ", X[1]);
print("X [2] = ", X[2]);
print("X [3] = ", X[3]);
print("X [4] = ", X[4])

print('-'*20)

print("Y [1] = ", Y[1])
print("Y [2] = ", Y[2])
print("Y [4] = ", Y[4])

print('-'*20)

print("Z['a']= ", Z['a'])
print("Z['b']= ", Z['b'])
print("Z['c']= ", Z['c'])

X [1] =  2
X [2] =  3
X [3] =  4
X [4] =  5
--------------------
Y [1] =  Bandung
Y [2] =  Jakarta
Y [4] =  Banten
--------------------
Z['a']=  20
Z['b']=  25
Z['c']=  30