<a href="https://colab.research.google.com/github/Sutriadik/Pejuang-Data_Science/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:


*   list() : untuk mengubah menjadi list  
*   tuple(): untuk mengubah menjadi tuple
*   set()  : untuk mengubah menjadi set
*   dict() : untuk mengubah menjadi dictionary

## Mengkonversi Tipe Data list:

In [ ]:
# Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi Tipe data tuple:

In [ ]:
#Membuat dua tuple
T1 = (1,2,3,4,5)
T2 = (5,6,7,8)

In [ ]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4, 5]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi Tipe data set:

In [ ]:
#membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [ ]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi Tipe data dictionary

In [ ]:
#Membuat dictionary
D = {"nama": "Andi", "alamat":"Yogyakarta", "umur" : 20}

In [ ]:
#Mengkonversi Struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'nama', 'umur'}

# Latihan

In [25]:
#Lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list,tuple,set, dan dictionary

#Konversi Tipe data list
print("Konversi Tipe data list")
P1 = [2,4,6,8,10,12,14,16,18,20]
P2 = ["xy", "P1 merupakan bilangan genap", "2-20", 5+10j]

k_tuple = tuple(P1)
k_set = set(P2)
k_dict = dict(zip(P1,P2))
# Menampilkan data yang telah dikonversi
print("hasil konversi menjadi tuple: ",k_tuple)
print("hasil konversi menjadi set:", k_set)
print("hasil konversi menjadi dictionary: ", k_dict)

Konversi Tipe data list
hasil konversi menjadi tuple:  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
hasil konversi menjadi set: {'xy', '2-20', (5+10j), 'P1 merupakan bilangan genap'}
hasil konversi menjadi dictionary:  {2: 'xy', 4: 'P1 merupakan bilangan genap', 6: '2-20', 8: (5+10j)}
--------------------

In [30]:
#Konversi Tipe data Tuple
print("Konversi Tipe data tuple")
s1 = (5,"empat",True,3+4j)
s2 = (1, 3, 5, 7, 9)

k_list = list(s1)
k_set = set(s2)
k_dict = dict(zip(s1,s2))
# Menampilkan data yang telah dikonversi
print("hasil konversi menjadi list: ",k_list)
print("hasil konversi menjadi set: ", k_set)
print("hasil konversi menjadi dictionary: ", k_dict)

Konversi Tipe data tuple
hasil konversi menjadi list:  [5, 'empat', True, (3+4j)]
hasil konversi menjadi set:  {1, 3, 5, 7, 9}
hasil konversi menjadi dictionary:  {5: 1, 'empat': 3, True: 5, (3+4j): 7}

In [31]:
#Konversi Tipe data set
print("Konversi tipe data set")
A ={1, 2, 3, 4 ,5 }
B ={"Bandung", "Jakarta", "Bogor", "Tangerang"}

k_list = list(A)
k_tuple = tuple(B)
k_dict = dict(zip(A,B))
# Menampilkan data yang telah dikonversi
print("hasil konversi menjadi list: ",k_list)
print("hasil konversi menjadi tuple: ", k_tuple)
print("hasil konversi menjadi dictionary: ", k_dict)

Konversi tipe data set
hasil konversi menjadi list:  [1, 2, 3, 4, 5]
hasil konversi menjadi set:  ('Bogor', 'Jakarta', 'Tangerang', 'Bandung')
hasil konversi menjadi dictionary:  {1: 'Bogor', 2: 'Jakarta', 3: 'Tangerang', 4: 'Bandung'}

In [39]:
#Konversi tipe data Dictionary\
print("Konversi tipe data Dictionary")
X = {1 :2, 2 :3, 3 :4, 4 :5 }
Y = {1: 'Bandung' , 2 : 'Jakarta' , 3 : 'Semarang' , 4: 'Banten'}

k_list = list(X.keys())
k_tuple = tuple(X.values())
k1_tuple = tuple(X.keys())
k1_set = set(X.values())
k_set = set(Y.values())
#Melihat data yang telah dikonversi
print("hasil konversi menjadi list: ",k_list)
print("hasil konversi menjadi tuple: ", k_tuple)
print("hasil konversi menjadi tuple: ", k1_tuple)
print("hasil konversi menjadi set: ", k1_set)
print("hasil konversi menjadi set: ", k_set)

Konversi tipe data Dictionary
hasil konversi menjadi list:  [1, 2, 3, 4]
hasil konversi menjadi set:  (2, 3, 4, 5)
hasil konversi menjadi set:  (1, 2, 3, 4)
hasil konversi menjadi dictionary:  {2, 3, 4, 5}
hasil konversi menjadi dictionary:  {'Banten', 'Jakarta', 'Semarang', 'Bandung'}